@page
@using Microsoft.CodeAnalysis.Emit
@model Platibus.Web.Pages.Calendar.Calendar_IndexModel

@{
    ViewData["Title"] = "Calendar_Index";
}

<h2>Calendar_Index</h2>

<form method="post">
    <input type="submit" class="btn btn-light" asp-page-handler="GetUsers" value="Get Users"> 
</form>

<table class="table table-bordered">
    <thead>
            
            
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Delete</th>
    </tr>
    </thead>
            
    <tbody>
    @if (Model._Users.Count() > 0)
    {
        foreach (var user in Model._Users)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td><input type="submit" value="Delete User" asp-page-handler="DeleteUser"/></td>
            </tr>
        }
    }
    </tbody>
</table>


<form method="post">
    <p>Select starttime for the shift</p>
    <input type="datetime-local" name="ShiftStart"/>
    <p>Select end time for the shift</p>
    <input type="datetime-local" name="ShiftEnd"/> <br/>
    <input type="submit" value="Create shift" asp-page-handler="CreateShift"/>
</form>

        
<form method="post">
<input type="submit" class="btn btn-light" asp-page-handler="GetShifts" value="Get All shifts"> 
</form>
    


    
<table class="table table-bordered">
    <thead>
            
            
    <tr>
        <th>Start Time</th>
        <th>End time</th>
        <th>Delete</th>
    </tr>
    </thead>
            
    <tbody>
    
  
    
    

       
        
    @foreach (var shift in Model.Shifts)

    {


        
        <form method="post">
       
            <tr>
                <td>@shift.ShiftStart.ToString()</td>
                <td>
                    @shift.ShiftStart.ToString()
                </td>
                <td>
                    @Html.DropDownListFor(model => model.name, Model.listItems, "-- Select Status --")
                    <button asp-page-handler="AssignEmployee" type="submit" value="@shift.id" name="id" class="btn btn-default">Tjek</button>
                    
                </td>
            </tr>
            </form>

       
    }
        
    
  
    </tbody>
</table>

<form method="post">
@Html.DropDownListFor(model => model.name, Model.listItems, "-- Select Status --")

<input type="submit" asp-page-handler="AssignEmployee" value="Assign User"/>

</form>