@page
@model Platibus.Web.Pages.Booking.Booking_indexModel
@{
    ViewData["Title"] = "Booking_index";
}

@section Styles {
    <link href="/css/Booking.css" rel="stylesheet" type="text/css" asp-append-version="true" />
}

<h2>Booking_index</h2>

<hr />

<div class="row"> 
    <div class="col-md-2">
        <div class="form-group">
            
            <a asp-page="./Booking_CreateShift">
                <i class="fas fa-plus fa-5x"></i>
                <div>Add new shift</div>
            </a>
        </div>
    </div>
    
    <div class="col-md-10 ">
        <table  id="table" class="table-bordered table-striped table-hover" style="width:100%" >
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model._allShifts[0].ShiftStart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model._allShifts[0].ShiftEnd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model._allShifts[0].EmployeeOnShift)
                </th>
                <th>
                    Options
                </th>
            </tr>
            </thead>
            
            <tbody>
            @foreach (var shift in @Model._allShifts)
            {
                <tr>
                    <td >
                        @Html.DisplayFor(model => shift.ShiftStart)
                    </td>
                    <td>
                        @Html.DisplayFor(model => shift.ShiftEnd)
                    </td>
                    <td>
                        @foreach (var user in @Model.AllUsers)
                        {
                            if (user.Id.Equals(shift.EmployeeOnShift))
                            {
                                @Html.DisplayFor(model => user.Name)
                            }
                            else
                            {
                                @Html.Display("Ledig")
                            }
                        }
                    </td>
                    
                    <td class="display-flex">
                        
                        <a asp-page="./Booking_EditShift" asp-route-id="@shift.id" >
                            <i class="far fa-edit padding-5"></i>
                        </a>
                        <form method="post">
                            <button  asp-page-handler="DeleteShift" type="submit" name="ShiftId" value="@shift.id" class="fas fa-trash fa-2x padding-5"></button>
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

<h3>Employees on this current week</h3>

<div class="container dayRow">
    <div class="row">
        @{
            var today = DateTime.Now;
            var thisSunday = today.AddDays(-(int)today.DayOfWeek+1);

            for (int i = 0; i < 7; i++)
            {
                <div class="col">
                    @Html.DisplayName(thisSunday.AddDays(i).DayOfWeek.ToString())
                     
                </div>
            }

        }

    </div>
    
    <div class="row">
        @{
            

            for (int i = 0; i < 7; i++)
            {
                <div class="col employeeColumn">
                    @foreach (var item in Model._allShifts)
                    {
                        if (item.ShiftStart.Date.Equals(thisSunday.AddDays(i).Date))
                        {
                            foreach (var user in Model.AllUsers)
                            {
                                if (user.Id.Equals(item.EmployeeOnShift))
                                {
                                    @Html.DisplayFor(model => user.Name)
                                    <p class="totalTimeMargin">total time</p>
                                                                     
                                    @Html.DisplayName(item.ShiftEnd.Subtract(item.ShiftStart).TotalHours.ToString())
                                }
                            }
                        }
                        
                    }
                     
                    
                </div>
            }

        }

    </div>
</div>


@section Scripts
{

    <script type="text/javascript">
        $(document).ready(function() {
            $('#table').DataTable({
                "info": false,
                "language": {
                    "lengthMenu": "",
                    "zeroRecords": "Nothing found - sorry",
                    "info": "Showing page _PAGE_ of _PAGES_",
                    "infoEmpty": "No records available",
                    "infoFiltered": "(filtered from _MAX_ total records)"
                }
        });
            $('#table_filter input').addClass('filter');
        });
    </script>
}