@page
@model Platibus.Web.Pages.Booking.Booking_indexModel
@{
    ViewData["Title"] = "Booking_index";
    Layout = "Shared/_Layout";
}

@section Styles {
    <link href="/css/Booking.css" rel="stylesheet" type="text/css" asp-append-version="true" />
}

<h2 class="center"> Information about booking and shifts</h2>



       
<div class="row">
    <div class="col-lg-8">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title text-primary"><i class="fa fa-pie-chart"></i> All employees</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <table  id="table" class="table-bordered table-striped table-hover" style="width:100%" >
                            
                    <thead>
                            
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model._allWorkSchedule[0].StarTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model._allWorkSchedule[0].EndTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model._allWorkSchedule[0].EmployeeOnShift)
                        </th>
                        <th>
                            Options
                                    
                        </th>
                    </tr>
                    </thead>
            
                    <tbody>
                    @foreach (var shift in @Model._allWorkSchedule)
                    {
                        <tr>
                            <td >
                                @Html.DisplayFor(model => shift.StarTime)
                            </td>
                            <td>
                                @Html.DisplayFor(model => shift.EndTime)
                            </td>
                            <td>
                                @foreach (var user in Model.AllUsers)
                                {

                                    if (shift.EmployeeOnShift.Equals(user.Id))
                                    {
                                        @Html.DisplayFor(x => user.Name)
                                 
                                    }
                                }
                        
                            </td>
                    
                            <td class="display-flex">
                        
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
                        
                        

            </div>
        </div>
    </div>
    

    <div class="col-lg-4">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title text-primary"><i class="fas fa-user"></i>  Administrative Page</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
          

        </div>
    </div>
</div>








@section Scripts
{

    <script type="text/javascript">
        
        $(document).ready(function() {
            $('#table').DataTable({
                "info": false,
                "language": {
                    "lengthMenu": "",
                    "zeroRecords": "Nothing found - sorry",
                    "info": "Showing page _PAGE_ of _PAGES_",
                    "infoEmpty": "No records available",
                    "infoFiltered": "(filtered from _MAX_ total records)"
                }
            });
            $('#table_filter input').addClass('filter');
        });
    </script>
}