@page
@model Platibus.Web.Pages.Analytics.Analytics_OrgDataModel
@{
    ViewData["Title"] = "Analytics_OrgData";
}

<h2>Analytics_OrgData</h2>

<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Year', 'Salary Expences'],
                ['@Model._yearAndTotals[0]._time.ToString()',  @Model._yearAndTotals[0]._total],
                ['@Model._yearAndTotals[1]._time.ToString()',  @Model._yearAndTotals[1]._total],
                ['@Model._yearAndTotals[2]._time.ToString()',  @Model._yearAndTotals[2]._total],
                ['@Model._yearAndTotals[3]._time.ToString()',  @Model._yearAndTotals[3]._total],
                ['@Model._yearAndTotals[4]._time.ToString()',  @Model._yearAndTotals[4]._total]
            ]);

            var options = {
                title: 'Company Performance',
                curveType: 'function',
                legend: { position: 'bottom' }
            };

            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

            chart.draw(data, options);
        }
    </script>
</head>
<body>
<div id="curve_chart" style="height: 800px"></div>
</body>