@page
@model Platibus.Web.Pages.Administrative.Administrative_EditUsersModel

@{ 
    ViewData["Title"] = "User Index";
}

<h2>User Index</h2>


<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title text-primary"><i class="fas fa-user"></i>  Administrative Page</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="box-body center-admin">
               
                
                <!-- Content -->
                
                
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model._userList[0].Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model._userList[0].Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model._userList[0].BaseWage)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model._userList[0].EmploymentDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model._userList[0].AccessLevel)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model._userList[0].Id)
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach(var item in Model._userList)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BaseWage)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmploymentDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccessLevel)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                <a asp-page="./Administrative_EditSingleUser" asp-route-id="@item.Id" />
                                <i class="glyphicon glyphicon-edit" title="Edit user data"></i>
                            </td>
                            <td>
                                <a asp-page="./Administrative_DeleteUser" asp-route-id="@item.Id" />
                                <i class="glyphicon glyphicon-trash" title="Delete the user from the system"></i>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
                
                <!-- End content -->
            </div>
        </div>
    </div>
</div>


